#calc-wrap {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(6, 1fr);
	width: 75%;
}

	#display {
		border: 1px solid black;
		/* height: 150px; */
		text-align: right;
		padding: 2px;
		margin: 4px;
		box-sizing: border-box;
	}

	#clear {
		grid-column-start: 1;
		grid-column-end: 4;
	}

	#zero {
		grid-column: 1 / span 2;
		grid-row: 6 / span 2;
	}

	#comma {
		grid-column: 3 / 4;
		grid-row: 6 / 6
	}
	
	#operators {
		grid-column: 4 / span 1;
		grid-row: 2 / span 5;
		display: flex;
		flex-direction: column;
	}

	#operands {
		grid-column: 1 / 4;
		grid-row: 3 / 6;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	.operand {
		flex-basis: 33%;
		flex-grow: 1;
	}
